.banner {
  width: 100%;
  height: 80px; /* puedes ajustar la altura */
  background-color: #287cb4; /* color de fondo */
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
  color: white;            /* color del texto */
  font-size: 16px;         /* tamaño del texto */
  font-weight: bold;       /* texto en negrita */
}

.form-usuarios{
    width: 100%;
    max-width: 400px;
    margin: 60px auto;
    padding: 30px 20px;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    gap: 16px;
}