.card-pages {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgb(199, 199, 199);
   cursor: pointer
}

.card-pages:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card-pages h1 {
  font-size: 1.8rem;
  color: #333;
  margin: 0;
  font-weight: 600;
}
