.card-pages {
  max-width: 350px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgb(199, 199, 199);
  cursor: pointer;
}

.card-pages:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
}

.card-pages h1 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.card-pages p {
  color: #666;
  font-size: 0.95rem;
}
